@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --color-background: #FFF;
    --width-container: 1600px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-background);
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width: var(--width-container);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    margin: 0 2% 0;
}

.header {
    display: flex;
    background: #222222;
    min-height: 75px;
    justify-content: center;
}

.header-top {
    max-width: var(--width-container);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.header-top-left {
    display: flex;
    align-items: center;
    margin-right: 57%;
}

.header-top-right {
    display: flex;
    align-items: center;
}

.header__logo {
    margin-right: 41px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    gap: 33px;
    font-size: 30px;
    margin-right: 12px;

}

.header__search {
    color: #ffffff;
    font-size: 22px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-top {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #F1E4E6;
    margin-bottom: 65px;
}

.main-top-sec {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    max-width: var(--width-container);
}

.main-top-img {
    margin-right: 4%;
}


.main-top-header {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    margin-bottom: 100px;

}

.main-top-title {
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.main-top-subtitle {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 10px;
}

.main-top-subtitle-color {
    color: #F16D7F;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main-categories {
    display: flex;
    flex-direction: column;
    margin-bottom: 65px;
    position: relative;
}

.nav-main-category {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    position: relative;
}

.main-category {
    display: flex;
    justify-content: space-between;

}

.main-category-header {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    z-index: 5;
}

.category-subheader {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.category-header {
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.category-img {
    position: relative;
    background: rgba(33, 22, 22, 0.70);
    z-index: 3;
}

.category-img::before {
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.20) -41.9%, #FFF 115.68%);
    backdrop-filter: blur(100px);
    opacity: 0.1;
}


.main-header {
    text-align: center;
    margin-bottom: 48px;
}

.main-header-header {
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-header-dsc {
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.popular-items {
    display: grid;
    grid-template-columns: 34% 34% 34%;
    grid-template-rows: 50% 50% 50%;
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
    margin-bottom: 30px;
}

.item {
    margin-bottom: 50px;
}

.item-img {
    margin-bottom: 24px;
}

.item-header {
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 12px;
}

.item-dsc {
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 18px;
}

.item-price {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}

.main-button {
    text-align: center;

}

.button {
    text-decoration: none;
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;


    padding: 1rem 2rem;
    text-decoration: none;
    border: 1px solid #FF6A6A;
}



.main-bottom {

}

@media(min-width: 1024px) and (max-width: 1080px){
    .main-top-img {
        margin-right: 0;
    }
}

@media(min-width: 768px) and (max-width: 1023px){
    .content {
        margin: 0 0 0;
    }

    .header {
        min-height: 74px;
    }

    .header-top-left {
        margin-right: 55%;
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .main-top-img {
        display: flex;
        width: 50%;
        margin-right: 5%;
    }

    .img1 {
        width: 100%;
    }


    .main-top-header {
        border-left: 12px solid #F16D7F;
        padding-left: 16px;
        margin-bottom: 0px;

    }

    .main-top-title {
        font-size: 44px;
    }

    .main-top-subtitle {
        font-size: 24px;
    }

    .main-top-subtitle-color {
        font-size: 24px;
    }
}

@media(max-width: 767px){
    .hidden {
        display: none;
    }

    .main-top-title {
        font-size: 38px;
    }

    .main-top-subtitle {
        font-size: 20px;
    }

    .main-top-subtitle-color {
        font-size: 20px;
    }
}