@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body, html * {
    font-family: 'Roboto', sans-serif;
}

:root {
    --color-font-primary: #FFF;
    --color-background: #020A18;
    --width-container: 1147px;
    --color-button: #3A68B8;
    --color-menu-link-hover: #3A68B8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-background);
}

.container {
    max-width: var(--width-container);
    /*max-width: 80%;*/
    margin: 0 auto;
}

.content {
    margin: 2% 2% 0;
}

header {
    display: block;
}

.header {
    margin-bottom: 160px;
}

.menu-link {
    color: var(--color-font-primary);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    padding: 40px 20px;
}

.nav {
    display: flex;
    justify-content: center;
}

.menu-link:hover {
    color: var(--color-menu-link-hover);
}


.main-top-flex {
    display: flex;
    justify-content: space-between;
}

.main {
    margin-bottom: 221px;
}

.main-flex {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main-top {
    margin-bottom: 197px;
}

.main-top-left {
    width: 57%;
    margin-right: 6%;
}


.main-top-right {
    width: 45%;
    display: flex;
    justify-content: end;
}

.main-top-subtitle {
    color: #3A68B8;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.main-top-title {
    color: var(--color-font-primary);
    font-family: Open Sans;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%; /* 71.5px */
    margin-bottom: 40px;
}

.main-top-dsc {
    color: var(--color-font-primary);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
    margin-bottom: 65px;
}

.main-link {
    border-radius: 5px;
    background: var(--color-button);
    padding: 1rem 2rem;
    color: var(--color-font-primary);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    margin-right: 20px;
}



.logo {
    margin-bottom: 256px;
}

.logo-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo-pic {

}

.main-middle {
    margin-bottom: 264px;
}

.main-middle-flex {
    display: flex;
    justify-content: space-between;
}

.main-middle-left, .main-middle-right {
    width: 42.2%;
}

.main-middle-right {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.main-middle-title {
    color: var(--color-font-primary);
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 52px */
    margin-bottom: 30px;
}

.main-middle-dsc {
    color: var(--color-font-primary);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
    margin-bottom: 65px;
}

.advantages {
    margin-bottom: 243px;
}

.advantages-flex {
    display: flex;
    justify-content: space-between;
}

.advantage {
    position: relative;
    display: flex;
    flex-direction: column;
    /*margin-right: 30px;*/
    /*padding: 0px 30px 30px 30px;*/
    width: 31.6%;
}

.advantage::before {
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.20) -41.9%, #FFF 115.68%);
    backdrop-filter: blur(100px);
    opacity: 0.1;
}

.img-adv {
    margin: 30px 132px 30px 132px;
}

.title-middle-adv {
    color: var(--color-font-primary);
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 31.25px */
    margin-bottom: 30px;
    opacity: 0.7;
    padding-left: 30px;
    padding-right: 30px;
}

.dsc-adv {
    color: var(--color-font-primary);
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
    opacity: 0.7;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.main-bottom {
    margin-bottom: 221px;
}

.main-bottom-flex {
    display: flex;
    justify-content: space-between;
}

.main-bottom-title {
    color: var(--color-font-primary);
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 52px */
    margin-bottom: 40px;
    padding-top: 14px;
}

.main-bottom-dsc {
    color: var(--color-font-primary);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
    opacity: 0.7;
    margin-bottom: 20px;
    padding-right: 88px;
}

.footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(100px);
    padding-top: 48px;
    padding-bottom: 46px;
}

.footer-flex {
    display: flex;
    justify-content: center;
}

.footer:before {
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-radius: 10px;
    opacity: 0.05;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.20) -41.9%, #FFF 260.24%);
    backdrop-filter: blur(100px);

}

.footer-left, .footer-middle, .footer-right {

}

.footer-left {
    width: 20%;

}

.footer-middle {
    width: 20%;
    padding-right: 5%;
}

.footer-right {
    width: 20%;
}

/*.footer-left, .footer-middle, .footer-right {*/
/*    width: 24%;*/
/*}*/

.footer-subtitle {
    color: var(--color-font-primary);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 33px;
}

.footer-addr{
    color: var(--color-font-primary);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 24px;
}

.footer-dsc {
    color: var(--color-font-primary);
    font-family: Roboto;
    font-size: 14px;
    font-style: italic;
    font-weight: 100;
    line-height: normal;
    opacity: 0.6;
}

.footer-www {
    color: var(--color-font-primary);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 24px;
}

.footer-icon {
    margin-right: 24px;
    font-size: 15px;
}

@media(min-width: 768px) and (max-width: 1023px){
    .menu-link {
        padding: 40px 16px;
    }

    .main-top-left {
        width: 67%;
        margin-bottom: 128px;
    }

    .main-top-right {
        width: 33%;
    }

    .main-top-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-top-subtitle {
        font-size: 16px;
    }

    .main-top-title {
        font-size: 48px;
    }

    .logo-flex {
        max-width: 63%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 14%;
        gap: 4%;

    }

    .logo-pic {
        margin-bottom: 5%;
    }

    .main-middle-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-middle-left{
        width: 53%;
    }

    .main-middle-right {
        width: 47%;
    }

    .main-middle-left {
        margin-bottom: 68px;
    }

    .advantages {
        margin-bottom: 192px;
    }

    .advantages-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .advantage {
        width: 37%;
        margin-bottom: 32px;
    }

    .main-bottom-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-bottom-left {
        width: 60%;
        margin-bottom: 44px;
    }

    .main-bottom-right {
        width:63%;
    }

    .footer-flex {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .footer-left {
        width: 47%;
        margin-bottom: 14px;
        padding-left: 8%;
        margin-right: 1%;
    }

    .footer-middle {
        width: 40%;
    }

    .footer-right {
        width: 50%;
        padding-left: 8%;
    }
}

@media(max-width: 767px){
    .main-top-flex{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-top-left{
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .main-top-right{
        display: flex;
        flex-direction: column;
        align-items: center
    }


    .main-top-left {
        width: 100%;
        margin-bottom: 128px;
    }

    .main-top-right {
        width: 100%;
    }

    .menu-link {
        font-size: 14px;
    }

    .main-top-subtitle {
        font-size: 14px;
        margin-bottom: 16px;
    }

    .main-top-title {
        width: 60%;
        text-align: center;
        font-size: 28px;
        margin-bottom: 64px;
    }

    .main-top-dsc {
        width: 52%;
        text-align: center;
        margin-bottom: 39px;
    }

    .main-link{
        margin-bottom: 24px;
    }

    .main-top {
        margin-bottom: 128px;
    }

    .log {
        margin-bottom: 204px;
    }

    .logo-flex {
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .logo-pic{
        margin-bottom: 32px;
    }

    .main-middle {
        margin-bottom: 96px;
    }

    .main-middle-flex {
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .main-middle-left {
        width: 100%;
    }

}






