@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
@import url('https://fonts.cdnfonts.com/css/Gilroy-Regular');

:root {
    --width-container: 1920px;
    --background-main-top: #FFF;
    --background-button: #F25822;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: var(--width-container);
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.main {
}

.main-top {
    background: var(--background-main-top);
}

.main-top-subtitle {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-top-dsc {
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
}

.main-top-link {
    text-decoration: none;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 16.5px */
}

.main-bottom-link {
    text-decoration: none;
    background: var(--background-button);
}